* {
  margin: 0;
  padding: 0;
  background-color: #faf0f0;

  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
.Header {
  .logo {
    width: 100%;
  }
  .menu {
    ul {
      text-align: right;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 10px 20px;
          color: #333;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }
}
